@import "../../assets/variables";
@import "../../assets/mixins";

.container {
  display: flex;
  gap: 20px;

  .club {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 900;
    transition: .4s;
    border: 0;
    cursor: pointer;

    &:hover {
      color: rgb(255, 255, 255);
      background-color: transparent;
      transition: 0.4s;
      border: 2px solid white;
    }
  }
  .shop {
    width: 200px;
    height: 60px;
    border:0;
    border: 2px solid white;

    text-transform: uppercase;
    background-color: transparent;
    color: white;
      transition: .4s;
      font-weight: 900;
      cursor: pointer;


    &:hover {
      background-color: white;
      color: black;
      transition: .4s;
    border: 2px solid rgb(0, 0, 0);

    }
  }
}
