@import "../../assets/variables";
@import "../../assets/mixins";


.wrapper {
  width: $main-w;
  border: 1px solid white;
  background-color: black;
  @include centered-row($jc:center);
  position: sticky;
  top: 0;

header {
  width: 80%;
  height: 120px;
  @include centered-row;
  span {
    font-size: 35px;
    font-weight: bold;
  }

 nav {
    width: 60%;
  ul {
    list-style: none;
    @include centered-row;
    gap: 25px;

    li:active {
        color: $main-c;
    }
  }
}
}
}