@import "../../assets/variables";
@import "../../assets/mixins";

.headerContainer {
  width: $main-w;
  @include centered-row($jc: center);
  border: 1px solid white;
  header {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      display: flex;
      gap: 10px;
      font-size: 25px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;
        border-radius: 50%;
        width: 25px;
        height: 25px;

        svg {
          font-size: 18px;
        }
      }
    }

    .contacts {
      width: 33%;

      .number {
        width: 100%;
        @include centered-row;
        svg {
            color: $main-c;
            @include centered-row;

        }
        span {
            font-size: 15pxpx;
        }
      }
    }
  }
}
