@mixin centered-row($jc:space-between) {
    display: flex;
    align-items: center;
    justify-content: $jc;
}

@mixin centered-column($jc:space-between, $ai: start) {
    display: flex;
    flex-direction: column;
    align-items: $ai;
    justify-content: $jc;
}



@mixin backgroun-ajusting($bg:$section-bg) {
    background-image: $bg;
    background-repeat: no-repeat;
    background-size: cover;

}